* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}

/*
.link:link,
.link:visited{
  text-decoration: none;
  display:inline-block;
  cursor: pointer;

}*/
.btn {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: none;
  background: none;
}

.heading-primary {
  font-size: 2.7rem;
  font-weight: 700;
}

.heading-secondary {
  font-size: 2rem;
  font-weight: 700;
  color: #10151F;
}

.heading-tertiary {
  font-size: 1rem;
  font-weight: 700;
  color: #10151F;
}

.hidden {
  display: none !important;
}

.remove {
  opacity: 0;
}

.header-userImg {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.shopping-cart-icon {
  width: 1.5rem;
  height: 1.5rem;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
  outline: none;
  outline: 0.1rem solid #10151F !important;
}

/*
.invalid{
  border:0.2px solid button-background;
}
*/
.header-container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.header-container .logo {
  width: 11rem;
  height: 1.5rem;
}
.header-container .nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.header-container .nav-container .user-icon {
  width: 1.7rem;
  height: 1.7rem;
}
.header-container .nav-container a {
  color: #10151F;
  font-weight: 500;
  font-size: 0.8rem;
  font-weight: 500;
}

.product-details {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem 0;
}
.product-details p {
  font-size: 0.875rem;
  color: #10151F;
}
.product-details__container {
  display: flex;
  gap: 10.5rem;
}
.product-details__gallery {
  display: flex;
  gap: 1.5rem;
}
.product-details__gallery-images {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product-details__gallery-images img {
  width: 7.6rem;
  height: 10rem;
}
.product-details__gallery-hero-image img {
  width: 44rem;
  height: 58rem;
  border-radius: 10px;
}
.product-details .product-description {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.product-details .product-description .product-name {
  text-transform: capitalize;
}
.product-details .product-description .wrapper-color-size-quantity {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.product-details .product-description__title-price-container {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}
.product-details .product-description .price {
  font-size: 2rem;
  font-weight: 700;
  color: #10151F;
}
.product-details .product-description __title {
  font-size: 1rem;
  color: #10151F;
}
.product-details .product-description-colors {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product-details .product-description-colors__content {
  display: flex;
  gap: 0.4rem;
}
.product-details .product-description-colors__content > div {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: pink;
}
.product-details .product-description-sizes {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product-details .product-description-sizes__content {
  display: flex;
  gap: 0.5rem;
}
.product-details .product-description-sizes__content .size {
  width: 4.4rem;
  height: 2.6rem;
  border: 0.06px solid #E1DFE1;
  border-radius: 9px;
  font-size: 1rem;
  color: #10151F;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-details .product-description-sizes__content .size:hover {
  border: 0.06px solid #10151F;
  background-color: #F8F6F7;
}
.product-details .product-description-quantity {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product-details .product-description-quantity__content {
  display: flex;
  flex-direction: column;
}
.product-details .product-description-quantity__content > :first-child {
  width: 4.4rem;
  height: 2.6rem;
  border: 0.06px solid #E1DFE1;
  border-radius: 9px;
  font-size: 1rem;
  color: #10151F;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.product-details .product-description-quantity__content > :nth-child(2) {
  width: 4.4rem;
  height: 24rem;
  border: 0.06px solid #E1DFE1;
  border-radius: 9px;
  font-size: 1rem;
  color: #10151F;
  padding: 0.5rem 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.7rem;
}
.product-details .product-description-btn {
  width: 100%;
}
.product-details .product-description-btn button {
  width: 100%;
  font-family: inherit;
  background-color: #FF4000;
  color: #FFf;
  font-size: 0.9rem;
  border-radius: 10px;
  padding: 0.7rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.product-details .product-description-btn img {
  filter: brightness(0) invert(1);
}
.product-details .product-description-divider {
  width: 100%;
  height: 0.1rem;
  background-color: #E1DFE1;
}
.product-details .product-description-brand-materials {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}
.product-details .product-description-brand-materials div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-details .product-description-brand-materials div .title {
  font-size: 1.24rem;
  font-weight: 600;
}
.product-details .product-description-brand-materials div img {
  width: 6.8rem;
  height: 3rem;
}
.product-details .product-description-brand-materials p {
  font-size: 1rem;
  color: #3E424A;
}
.product-details .product-description__title {
  font-size: 1rem;
  color: #10151F;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.shopping-cart-window {
  position: fixed;
  right: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 34rem;
  height: 100%;
  background-color: #FFf;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.5rem 2rem;
}
.shopping-cart-window__header {
  display: flex;
  justify-content: space-between;
}
.shopping-cart-window__header img {
  width: 2rem;
  height: 2rem;
}
.shopping-cart-window .cards-container {
  display: flex;
  flex-direction: column;
}
.shopping-cart-window .product-details {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.shopping-cart-window .product-details img {
  width: 6.25rem;
  height: 8.3rem;
}
.shopping-cart-window .product-details__description {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.shopping-cart-window .product-details__description__title-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}
.shopping-cart-window .product-details__description__quantity-controller-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shopping-cart-window .product-details__description-title {
  font-size: 0.875rem;
  color: #10151F;
  font-weight: 700;
}
.shopping-cart-window .product-details__description-title, .shopping-cart-window .product-details__description-color {
  font-size: 0.75rem;
  color: #3E424A;
}
.shopping-cart-window .product-details__description-price {
  font-size: 1.125rem;
  color: #10151F;
  font-weight: 600;
}
.shopping-cart-window .product-details__description-quantity-controller {
  display: flex;
  align-self: flex-start;
  gap: 0.5rem;
  border: 0.1px solid #E1DFE1;
  border-radius: 9px;
  padding: 0.1rem 0.8rem;
}
.shopping-cart-window .product-details__description-quantity-controller span {
  font-size: 0.875rem;
}
.shopping-cart-window .product-details__description-btn-remove {
  font-size: 0.75rem;
  color: #3E424A;
}
.shopping-cart-window .shopping-cart-summary {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.shopping-cart-window .shopping-cart-summary-price-summary {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.shopping-cart-window .shopping-cart-summary-price-summary .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shopping-cart-window .shopping-cart-summary-price-summary .container p {
  font-size: 1rem;
  color: #3E424A;
}
.shopping-cart-window .shopping-cart-summary-price-summary .total p {
  font-size: 1.25rem;
  color: #10151F;
  font-weight: 600;
}
.shopping-cart-window .shopping-cart-summary .btn-checkout {
  font-family: inherit;
  padding: 1rem 1.8rem;
  background-color: #FF4000;
  color: #FFf;
  font-size: 0.9rem;
  border-radius: 10px;
}

.active {
  outline: 2px solid #E1DFE1;
  outline-offset: 2px;
}

.selected {
  border: none;
  border: 0.06px solid #10151F !important;
  background-color: #F8F6F7 !important;
}

.activeImg {
  border: 1.2px solid #E1DFE1;
  border-radius: 5px;
}