
@use "global";
.header-container{
    @include global.container;
    display:flex;
    justify-content: space-between;

    padding:2rem 0;

    .logo{
      width:11rem;
      height: 1.5rem;
    }
    .nav-container{
      display:flex;
      align-items: center;
      justify-content: center;
      gap:0.4rem;

      .user-icon{
        width:1.7rem;
        height:1.7rem;
      }
      a{
        color: global.$text-color-dark;
        font-weight: 500;
        font-size:0.8rem;
        font-weight: 500;
      }
    }
}