@use "global";
@use "header";

.section-user-auth{
    display:flex;
    gap:11rem;
    height:90.6vh;


    img{
        width:60rem;
        height: 100%;   
        object-fit: cover;
    }


    .input-btn-container{
        display:flex;
        flex-direction: column;
        gap:2.8rem;
    }

    .inputs-container{
        display:flex;
        flex-direction: column;
        gap:1.2rem;
    }
    .user-auth{
        display:flex;
        flex-direction: column;
        width:37rem;
        height: 25rem;
        gap:3rem;
        align-self: center;

        &__input-wrapper{
        position: relative;
        display: inline-block;

        display:flex;
        flex-direction: column;
        gap:0.2rem;
            .icon{
                position: absolute;
                left: 32px;
                top: 6%;
                pointer-events: none; 
                font-size: 12px;
                color: global.$button-background;

                &__password{
                    left: 45px;
                }
            }

            .icon__eye{
                width:1.25rem;
                height:1.25rem;
                position: absolute;
                right: 10px;
                top: 30%;
                &:hover{
                    width:1.3rem;
                }
            }

            .input{
                width:100%;
                border:0.2px solid global.$border-color;
                padding:0.8rem 0.7rem;
                font-size:0.9rem;
                border-radius:0.5rem;
                color:global.$text-color-light;
                
            }
            .error-message{
                color:global.$button-background;
                font-size:0.7rem;
            }
        }
        .btn-text-container{
            display:flex;
            flex-direction: column;
            gap:1.2rem;
            align-items: center;

            .btn-account{
                width:100%;
                padding:1rem 0;
                background-color:global.$button-background;
                color:global.$button-color;
                font-size: 0.9rem;
                border-radius:10px;
                
            }
            .auth-switch{
                font-size:0.875rem;
                color: global.$text-color-light;
                a{
                    text-decoration: none;
                    color:global.$button-background;
                }
            }
        }
    }
}


