@use "global";
@use "header";


.section-user-auth{
    display:flex;
    gap:11rem;
    height:90.6vh;


    img{
        width:60rem;
        height: 100%;   
        object-fit: cover;
    }
    .input-btn-container{
        display:flex;
        flex-direction: column;
        gap:2.8rem;
    }
    .inputs-container{
        display:flex;
        flex-direction: column;
        gap:1.2rem;
    }
    .user-auth{
        display:flex;
        flex-direction:column;
        width:37rem;
        height: 30rem;
        gap:4rem;
        align-self: center;

       .uploadImg-container {
            //height:8rem;
            margin-top: 0.5rem;


            .image-upload {
                display: none;
                visibility: hidden;
            }
            .image-preview-container{
                display:flex;
                align-items:center;
                justify-content:center;
                gap:3.5rem;
                margin-right: 12rem;

                
                .default-text-new{
                    display: none;

                }
                .images-container{
                    .image-preview--initialImg{
                        width:1.50rem;
                        height:1.50rem;
                        outline: 1.5px solid #F3E7EB;
                        outline-offset: 30px; 
                        border-radius: 50%;
                    }
                    .image-preview--image{
                        width:6rem;
                        height:6rem;
                        border-radius: 50%;
                    }
                }
            
            }

           
        }


        &__input-wrapper{
        position: relative;
        display: inline-block;

        display:flex;
        flex-direction: column;
        gap:0.2rem;


            .icon{
                position: absolute;
                left: 32px;
                top: 6%;
                pointer-events: none; 
                font-size: 12px;
                color: global.$button-background;

                &__password{
                    left: 47px;
                    top: 8%;
                }
            }
            .icon__eye{
                width:1.25rem;
                height:1.25rem;
                position: absolute;
                right: 10px;
                top: 30%;
                &:hover{
                    width:1.3rem;
                }
            }

            input{
                width:100%;
                border:0.2px solid global.$border-color;
                padding:0.8rem 0.7rem;
                font-size:0.8rem;
                border-radius:0.5rem;
                color:global.$text-color-light;
                
            }
            .error-message{
                color:global.$button-background;
                font-size:0.7rem;
           
          
            }
        }
        .btn-text-container{
            display:flex;
            flex-direction: column;
            gap:1.2rem;
            align-items: center;

            .btn-account{
                width:100%;
                padding:1rem 0;
                background-color:global.$button-background;
                color:global.$button-color;
                font-size: 0.9rem;
                border-radius:10px;
                
            }
            .auth-switch{
                font-size:0.875rem;
                color: global.$text-color-light;
                a{
                    text-decoration: none;
                    color:global.$button-background;
                }
            }

        }

    }


}



input[type="text"]:focus,
textarea:focus {
    outline: none;
}